@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap);

.wrapper {
	/* overflow: clip; */
	min-height: 100%;
}


body {
	background-color: #F8F9FA;
	padding: 15px;
}

.dananz__page {
	font-family: "Poppins", sans-serif;
	padding-top: 100px;
}

.page__container {
	max-width: 1200px;
	margin: 0 auto;
}

.page__tilte {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.4;
	color: black;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 40px;
}

.page__subtitle {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.60;
	text-align: center;
	color: black;
	max-width: 518px;
	margin: 0 auto;
	margin-bottom: 53px;
}

.page__banner {
	margin: 0 auto 100px;
	max-width: 100%;
}

.page__text-block {
	display: flex;
	margin: 0 -16px;
	flex-wrap: wrap;
}

.text-block__item {
	padding: 0 16px;
	flex: 0 1 50%;
}


@media (max-width: 767.98px) {
	.text-block__item {
		flex: 0 1 100%;
	}

	.page__text-block {
		row-gap: 30px;
	}

}

.text-block__title {
	color: #333333;
	font-weight: 600;
	font-size: 24px;
	line-height: 1.40;
	margin-bottom: 24px;
}

.text-block__text {
	color: #9C9C9C;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 60px;
}

.text-block__text p:not(:last-child) {
	margin-bottom: 30px;
}


.text-block__date {
	color: #9C9C9C;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	margin-right: 80px;
	display: inline-block;
}

.text-block__tags {
	color: #9C9C9C;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	display: inline-block;
}


.page__gallery {
	margin: 0 -16px 112px;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	row-gap: 32px;
}

.gallery__item {
	flex: 0 1 50%;
	padding: 0 16px;
	transition: all 0.3s;
}

.gallery__item:hover {
	transform: scale(1.05);
}

.gallery__item img {
	max-width: 100%;
}

.gallery__item:nth-child(3) {
	flex: 0 1 100%;
}

@media (max-width: 479.98px) {
	.gallery__item {
		flex: 0 1 100%;
	}
}



.page__achievements>*:not(:last-child) {
	margin-bottom: 40px;
}

.achievements__title {
	display: flex;
	align-items: center;
	color: black;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.50;
}

.achievements__title::after {
	content: "";
	height: 2px;
	background-color: black;
	flex: 0 1 464px;
	margin-left: 26px;
}


.block-achievements {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.achievements__block {
	margin: 0 -15px;
}

.block-achievements__image img {
	padding: 0 15px;
	flex: 0 1 50%;
	max-width: 100%;
}



.block-achievements__text-block {
	max-width: 334px;
	padding: 0 15px;
	flex: 0 1 50%;
	max-width: 100%;
}

.block-achievements__title {
	color: #333333;
	font-weight: 600;
	font-size: 24px;
	line-height: 1.4;
	margin-bottom: 20px;
}

.block-achievements__description {
	color: #9C9C9C;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
}


@media (max-width: 767.98px) {

	.page__achievements>*:not(:last-child) {
		margin-bottom: 60px;
	}

	.block-achievements {
		flex-wrap: wrap;
		row-gap: 30px;
	}

	.block-achievements__image{
		flex: 0 1 100%;
		order: 2;
	}

	.block-achievements__text-block {
		flex: 0 1 100%;
		order: 1;
	}
}