@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inter:300,500,600,700&display=swap);


[class*=__container] {
	padding: 0 15px;
	margin: 0 auto;
}

.page-1__container {
	max-width: 1270px;
	font-family: "Poppins", sans-serif;
}

.page-1__bg {
	background: url("../img/unsplash_WgMDQsn36w4.jpg") 50%/cover no-repeat;
	background-color: #415E6F;
}

.page-1__text {
	font-size: 0;
	padding: 330px 0 100px 0;
}

.page-1__text>* {
	margin-bottom: 15px;
}

.page-1__text p {
	font-size: 12px;
	line-height: 1.66;
	/* 20/12 */
	color: #E5E5E5;
	font-weight: 300;
}

h1 {
	font-size: 25px;
	line-height: 1.6;
	/* 40/25 */
	color: #F8F9FA;
	font-weight: 700;
}





/* page 2 */



.page-2__bg {
	background: rgb(244, 247, 255);
	background: linear-gradient(117deg, rgba(244, 247, 255, 1) 69%, rgba(228, 234, 251, 1) 69%, rgba(228, 234, 251, 1) 75%, rgba(213, 222, 247, 1) 75%, rgba(255, 255, 255, 1) 100%);
}

.page-2__container {
	max-width: 1170px;
}

.page-2__text {
	display: inline-block;
	max-width: 570px;
	padding-top: 145px;
	margin-right: 180px;
	font-family: "Inter", sans-serif;
}

.staret-from {
	color: #3056D3;
	font-size: 18px;
	line-height: 1.33;
	/* 24/18 */
	font-weight: 600;
	margin-bottom: 12px;
}


h2.page-2-title {
	color: #212B36;
	font-size: 36px;
	line-height: 1.25;
	/* 45/36 */
	font-weight: 700;
	margin-bottom: 15px;
}

.page-2-description {
	color: #637381;
	font-size: 16px;
	line-height: 1.50; /* 24/16 */
	font-weight: 500;
	margin-bottom: 35px;
}

.page-2-button {
	padding: 10px 30px;
	background-color: #3056D3;
	border-radius: 30px;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5; /* 24/16 */
	max-width: 140px;
}


.page-2-photo {
	display: inline-block;
	padding: 80px 0;
}




/* page 2 list */

.page-2-list {
	padding: 80px 0;
	font-family: "Inter", sans-serif;
}

h2.page-2-list-title {
	margin-bottom: 50px;
	font-weight: 300;
	font-size: 30px;
}

.list-1 {
	font-weight: 700;
	font-size: 16px;
	line-height: 0.9375; /* 15/16 */
	color: #637381;
	margin-bottom: 60px;
}

.list-1 ~ ul {
	font-weight: 700;
	font-size: 16px;
	color: #637381;
	margin-bottom: 60px;
}

.page-2__container ul li {
	margin-bottom: 18px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.list-1 li {
	background: url("../img/ellipse.png") left / 8px no-repeat;
	padding-left: 15px;
	min-height: 8px;
}

.list-2 li {
	background: url("../img/checkmark-circle-blue.png") left / 20px no-repeat;
	padding-left: 30px;
	min-height: 20px;
}

.list-3 li {
	background: url("../img/checkmark-circle-green.png") left / 20px no-repeat;
	padding-left: 30px;
	min-height: 20px;
}

.list-4 li {
	background: url("../img/cross-red.png") left / 20px no-repeat;
	padding-left: 30px;
	min-height: 20px;
}

.list-5 li {
	background: url("../img/arrow.png") left / 20px 8px no-repeat;
	padding-left: 30px;
	min-height: 20px;
}

.list-6 li {
	background: url("../img/star.png") left / 18px no-repeat;
	padding-left: 30px;
	min-height: 18px;
}
