@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Inter:500,600,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:400&display=swap);

.wrapper {
	/* overflow: clip; */
	min-height: 100%;
}


body {
	background-color: #ffffff;
	padding: 15px;
}



.page__components-tailgrids-container {
	margin: 0 auto;
	max-width: 1170px;
	font-family: "Inter", sans-serif;
}

.page__form-1 {
	padding-top: 100px;
	margin-bottom: 300px;
}

.form-1__title {
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.25;
	color: #212B36;
}

.form-1__body {
	max-width: 700px;
	display: flex;
	column-gap: 28px;
	row-gap: 30px;
	flex-wrap: wrap;
}

.form-1__input {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
}


.form-1__input:not(:last-child) {
	flex: 0 1 47%;
	padding: 15px 25px;
	border-radius: 7px;
	outline: 1px solid #E7E7E7;
}



.form-1__input:last-child {
	flex: 0 1 100%;
	padding: 15px 25px;
	border-radius: 7px;
	outline: 1px solid #E7E7E7;
}

.form-1__input:focus {
	outline: 1px solid #3056D3;
}

.form-1__text-area{
	resize: vertical;
}

.form-1__option {
	color: #212B36;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
}



.form-1__select {
	color: #212B36;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;

}

option[disabled] {
	display: none;
}

.form-1__body {
	margin-bottom: 35px;
}

.form-1__checkbox>*:not(:last-child) {
	margin-bottom: 25px;
}

.form-1__checkbox {
	margin-bottom: 55px;
}

.coupon__title {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	color: #212B36;
}

.coupon__code {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	padding: 12px 22px;
	border-radius: 7px;
	outline: 1px solid #E7E7E7;
	margin-right: 20px;
	min-width: 325px;
}

.coupon__code:focus {
	outline: 1px solid #3056D3;
}


.coupon__button {
	padding: 12px 22px;
	background-color: #212B36;
	border-radius: 5px;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	transition: all 0.1s;
}

.coupon__button:hover {
	background-color: #3056D3;
}

.coupon__button:active {
	box-shadow: inset 0px 0px 10px #212B36;
}

.form-1__coupon>*:not(:last-child) {
	margin-bottom: 25px;
}

.checkbox-form-1__item {
	position: relative;
	max-width: 100%;
}

.checkbox-form-1__box {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}

.checkbox-form-1 {
	max-width: 250px;
}

.checkbox-form-1__label {
	display: flex;
	gap: 14px;
	align-items: center;
	cursor: pointer;
}

.checkbox-form-1__label::before {
	content: "";
	display: flex;
	width: 22px;
	height: 22px;
	border-radius: 4px;
	outline: 1px solid #E7E7E7;
}

.checkbox-form-1__box:checked+.checkbox-form-1__label::before {
	background: url(../img/check.svg) 50% no-repeat;
}


.page__crispecommercetheme-container {
	max-width: 1242px;
	margin: 0 auto;
}

.form-2 {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	max-width: 606px;
}

.form-2__title {
	font-family: 'Oswald';
	font-weight: 400;
	font-size: 24px;
	line-height: 2.83333333;
	margin-bottom: 34px;
}


.form-2__line {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


.form-2__line:not(:last-child):not(.form-2__street-line) {
	margin-bottom: 24px;
}

.form-2__street-line:not(:last-child) {
	margin-bottom: 13px;
}

.form-2__line-group:not(:last-child) {
	margin-bottom: 24px;
}

.form-2__line-group:last-child {
	margin-bottom: 46px;
}



.form-2__label {
	flex: 0 1 25%;
	font-size: 16px;
	line-height: 1.25;
}

.form-2__asterisk {
	font-size: 16px;
	line-height: 1.25;
	color: #EB5757;
}

.form-2__input {
	flex: 0 1 75%;
	height: 44px;
	max-width: 451px;
	border: 1px solid #C4C4C4;
}


.form-2__select {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	color: #3F3F3F;
}

.form-2__text {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.42857143;
	color: #828282;
	padding: 10px 0 10px 0;
	margin-bottom: 14px;
}

.form-2__button {
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.5;
	color: #FFFFFF;
	background-color: #000000;
	padding: 14.5px 43.5px;
	margin-right: 25px;
	transition: all 0.1s;
}

.form-2__button:hover {
	background-color: #828282;
}

.form-2__button:active {
	box-shadow: inset 0px 0px 10px #212B36;
}

.form-2__account-button {
	margin-bottom: 36px;
}

.form-2__link {
	display: inline-block;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.42857143;
	color: #0F6DB1;
	margin-bottom: 36px;
}

.form-2__link:hover{
	text-decoration: underline;
}

.form__divider-line {
	width: 100%;
	margin-bottom: 39px;
}

.divider-line {
	height: 1px;
	background-color: #c4c4c4;
}

.shipping-methods__title {
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 2.83333333;
	margin-bottom: 40px;
}

.shipping-methods__divider-line {
	width: 100%;
}

.shipping-methods__options {
	margin-bottom: 46px;
}

.options-shipping-methods__item {
	padding-top: 11px;
	padding-bottom: 11px;
	position: relative;
}

.options-shipping-methods__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}

.options-shipping-methods__label {
	font-size: 14px;
	line-height: 1.42857143;
	color: #828282;
}

.options-shipping-methods__label::before {
	content: "";
	display: inline-block;
	margin-right: 13px;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 1px solid #828282;
}

.options-shipping-methods__input:checked + .options-shipping-methods__label{
	color: #000000;
}

.options-shipping-methods__input:checked + .options-shipping-methods__label::before {
	border: 3px solid #000000;
}


.options-shipping-methods__description {
	display: inline-block;
	position: absolute;
	left: 188px;
	display: inline-flex;
}

.description-options-shipping-methods__line {
	display: inline-block;
	min-width: 134px;
	padding-left: 15px;
}

.form-2__bottom-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-2__back {
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.5;
	color: #828282;
}

.form-2__back>a:hover{
	text-decoration: underline;
}


.options-shipping-methods__divider-line {
	max-width: 443px;
}

