@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inter:300,500,600,700&display=swap);


[class*=__container] {
	padding: 0 15px;
	margin: 0 auto;
}

.page-1__container {
	max-width: 1270px;
	font-family: "Poppins", sans-serif;
}

.page-1__bg {
	background: url("../img/unsplash_WgMDQsn36w4.jpg") 50%/cover no-repeat;
	background-color: #415E6F;
}

.page-1__text {
	font-size: 0;
	padding: 330px 0 100px;
}

.page-1__text>*:not(:last-child) {
	margin-bottom: 15px;
}


.page-1__text p {
	font-size: 12px;
	line-height: 1.66;
	/* 20/12 */
	color: #E5E5E5;
	font-weight: 300;
}

h1 {
	font-size: 25px;
	line-height: 1.6;
	/* 40/25 */
	color: #F8F9FA;
	font-weight: 700;
}





/* page 2 */



.page-2__bg {
	background: rgb(244, 247, 255);
	background: linear-gradient(117deg, rgba(244, 247, 255, 1) 69%, rgba(228, 234, 251, 1) 69%, rgba(228, 234, 251, 1) 75%, rgba(213, 222, 247, 1) 75%, rgba(255, 255, 255, 1) 100%);
}

.page-2__container {
	max-width: 1170px;
	font-size: 0;
}

.page-2__text {
	display: inline-block;
	max-width: 570px;
	padding: 145px 0;
	margin-right: 180px;
	font-family: "Inter", sans-serif;
	font-size: 16px;
}



.staret-from {
	color: #3056D3;
	font-size: 18px;
	line-height: 1.33;
	/* 24/18 */
	font-weight: 600;
	margin-bottom: 12px;
}


h2.page-2-title {
	color: #212B36;
	font-size: 36px;
	line-height: 1.25;
	/* 45/36 */
	font-weight: 700;
	margin-bottom: 15px;
}

.page-2-description {
	color: #637381;
	font-size: 16px;
	line-height: 1.50;
	/* 24/16 */
	font-weight: 500;
	margin-bottom: 35px;
}

.page-2-description p{
	margin-bottom: 8px;
}


.page-2-button {
	padding: 10px 30px;
	background-color: #3056D3;
	border-radius: 30px;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	/* 24/16 */
	max-width: 140px;
	margin-bottom: 16px;
}

.page-2__text *:last-child {
	margin-bottom: 0;
}

.page-2-photo {
	display: inline-block;
	padding: 80px 0;
}


.page-2-button:hover {
	background-color: #243f97;
	color: #dddddd;
}

.page-2-button:active {
	outline: 2px solid black;
}



/* page 2 list */

.page-2-list {
	padding: 80px 0;
	font-family: "Inter", sans-serif;
	font-size: 0;
}

h2.page-2-list-title {
	margin-bottom: 50px;
	font-weight: 300;
	font-size: 30px;
}

.page-2__container ul {
	font-weight: 700;
	font-size: 16px;
	color: #637381;
	margin-bottom: 60px;
}

.page-2__container ul li {
	padding-top: 2px;
	padding-bottom: 2px;
}

.list8px li {
	margin-left: 18px;
}

.list20px li {
	margin-left: 30px;
	line-height: 22px;
}

.list18px li {
	margin-left: 28px;
	line-height: 22px;
}



.page-2__container ul li:not(:last-child) {
	margin-bottom: 18px;
}

.list-1 li::before {
	content: "";
	display: inline-block;
	background: url("../img/ellipse.png") 0 0 no-repeat;
	width: 8px;
	height: 8px;
	margin-right: 10px;
	margin-left: -18px;
	vertical-align: middle;
}

.list-2 li::before {
	content: "";
	display: inline-block;
	background: url("../img/checkmark-circle-blue.png") 0 0 no-repeat;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-left: -30px;
	vertical-align: middle;
}

.list-3 li::before {
	content: "";
	display: inline-block;
	background: url("../img/checkmark-circle-green.png") 0 0 no-repeat;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-left: -30px;
	vertical-align: middle;
}

.list-4 li::before {
	content: "";
	display: inline-block;
	background: url("../img/cross-red.png") 0 0 no-repeat;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-left: -30px;
	vertical-align: middle;
}

.list-5 li::before {
	content: "";
	display: inline-block;
	background: url("../img/arrow.png") 0 0 no-repeat;
	width: 20px;
	height: 8px;
	margin-right: 10px;
	margin-left: -30px;
	vertical-align: middle;
}

.list-6 li::before {
	content: "";
	display: inline-block;
	background: url("../img/star.png") 0 0 no-repeat;
	width: 18px;
	height: 18px;
	margin-right: 10px;
	margin-left: -28px;
	vertical-align: middle;
}



/* PRACTICE */

.practice {
	padding-bottom: 200px;
}

.practice-lists-title {
	margin-bottom: 20px;
}

.practice-lists ul {
	margin-bottom: 40px;
	font-size: 0;
}

.practice-lists ul li {
	font-size: 16px;
}


.practice-lists ul :not(:last-child) {
	margin-bottom: 8px;
}

.practice-list-5 ul>li {
	margin-bottom: 0;
}

.practice-list-1 li:first-child {
	font-weight: 700;
	text-decoration: underline;
}

.practice-list-2 li:last-child {
	font-weight: 700;
	text-decoration: underline;
}

.practice-list-3 li:nth-child(odd):hover {
	color: #243f97;
	font-weight: 700;
	text-transform: uppercase
}

.practice-list-3 li:nth-child(even):hover {
	color: #761610;
	font-weight: 700;
	text-transform: uppercase
}

.practice-list-3 li:nth-child(4):hover {
	color: #046815;
	font-weight: 700;
	text-transform: uppercase
}

.practice-list-4 li:not(:nth-child(2), :nth-child(3)) {
	color: #650468;
	font-weight: 700;
	text-transform: uppercase
}

.practice-list-5 li:nth-child(2n) {
	margin-bottom: 0;
	color: #F8F9FA;
	background-color: #661d00;
}

.practice-list-5 li:nth-child(2n+1) {
	margin-bottom: 0;
	color: #19191a;
	background-color: #6baacc;
}


.practice-list-6 li::before {
	content: "►";
	margin-right: 10px;
	vertical-align: middle;
}

.practice-list-6 li:hover::before {
	content: "►";
	margin-right: 10px;
	color: #8c0c0c;
}

.practice-links{
	margin-bottom: 80px;
}


.practice-links a:active {
	text-decoration: underline;
}

.practice-links a:visited {
	color: #680e7e;
}

.practice-links a:hover {
	color: #243f97;
}

.show{
	font-size: 20px;
	color: green;
}

.show:hover{
	text-decoration: underline;
}

.hide{
	font-size: 20px;
	color: rgb(128, 0, 0);
}

.hide:hover{
	text-decoration: underline;
}

.stuff{
	display: none;
}

.stuff:target{
	display: block;
}